# {{ ansible_managed }}
{% for cred in rye_publish_credentials -%}
{% for option, value in cred.items() -%}
{% if option == "repository" -%}
[{{ value }}]
{% endif -%}
{{ option }} = "{{ value }}"
{% endfor -%}
{% endfor -%}
